$color__white: #ffffff;
$color__black: #000000;
$color__gray: #5A5A5A;
$color__light: #F3F9FA;


$color__primary: #1D3458;
$color__blue: #4BC4D6;
$color__blue2: #1F3B63;
$color__green: #27AF7D;
$color__lightSlateGray : #778499


